import React from 'react'
import { graphql } from 'react-apollo'
import gql from 'graphql-tag'

const query = gql`
  query getMovies {
    movies {
      id
      title
      poster
    }
  }
`

const withData = graphql(query)

export function MovieList({ data }){
  if (data.loading) {
    return <Loader />
  }

  const list = data.movies.map(movie =>
    <div key={ movie.id }>
      <div>{ movie.title }</div>
      <img src={ movie.poster } />
    </div>
  )

  return <div>
    { list }
  </div>
}

export default withData(MovieList)
